<a href="https://colab.research.google.com/github/yasaminesmati/machine-learning-with-python/blob/main/classification/logisticregression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
import pandas as pd
import pylab as pl
import numpy as np
import scipy.optimize as opt
from sklearn import preprocessing
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import jaccard_score

In [21]:
df=pd.read_csv("heart.csv")
df.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [22]:
df.columns

Index(['age', 'sex', 'cp', 'trtbps', 'chol', 'fbs', 'restecg', 'thalachh',
       'exng', 'oldpeak', 'slp', 'caa', 'thall', 'output'],
      dtype='object')

In [23]:
df.astype(int)

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0,1,1,2,0

In [24]:
X = df[['age', 'sex', 'cp', 'trtbps', 'chol', 'fbs', 'restecg', 'thalachh','exng', 'oldpeak', 'slp', 'caa', 'thall']].values

In [26]:
y=df['output']

In [27]:
X = preprocessing.StandardScaler().fit(X).transform(X.astype(float))
X[0:5]

array([[ 0.9521966 ,  0.68100522,  1.97312292,  0.76395577, -0.25633371,
         2.394438  , -1.00583187,  0.01544279, -0.69663055,  1.08733806,
        -2.27457861, -0.71442887, -2.14887271],
       [-1.91531289,  0.68100522,  1.00257707, -0.09273778,  0.07219949,
        -0.41763453,  0.89896224,  1.63347147, -0.69663055,  2.12257273,
        -2.27457861, -0.71442887, -0.51292188],
       [-1.47415758, -1.46841752,  0.03203122, -0.09273778, -0.81677269,
        -0.41763453, -1.00583187,  0.97751389, -0.69663055,  0.31091206,
         0.97635214, -0.71442887, -0.51292188],
       [ 0.18017482,  0.68100522,  0.03203122, -0.66386682, -0.19835726,
        -0.41763453,  0.89896224,  1.23989692, -0.69663055, -0.20670527,
         0.97635214, -0.71442887, -0.51292188],
       [ 0.29046364, -1.46841752, -0.93851463, -0.66386682,  2.08204965,
        -0.41763453,  0.89896224,  0.58393935,  1.43548113, -0.37924438,
         0.97635214, -0.71442887, -0.51292188]])

In [29]:
X_trainset, X_testset, y_trainset, y_testset = train_test_split(X, y, test_size=0.2, random_state=3)

In [31]:
LR = LogisticRegression(C=0.01, solver='liblinear').fit(X_trainset,y_trainset)
LR

LogisticRegression(C=0.01, solver='liblinear')

In [32]:
yhat=LR.predict(X_testset)

In [33]:
print(y_testset)
print(yhat)

245    0
162    1
10     1
161    1
73     1
      ..
102    1
83     1
259    0
121    1
61     1
Name: output, Length: 61, dtype: int64
[0 1 1 1 1 1 0 0 1 1 0 0 0 0 0 1 1 0 1 1 0 1 1 1 1 1 1 1 1 0 1 0 0 0 1 0 1
 1 1 1 1 1 1 1 1 0 1 1 0 1 1 1 1 0 1 0 1 1 1 1 1]

In [35]:
yhat_prob = LR.predict_proba(X_testset)
yhat_prob

array([[0.52326879, 0.47673121],
       [0.23069329, 0.76930671],
       [0.42708377, 0.57291623],
       [0.28823407, 0.71176593],
       [0.45081595, 0.54918405],
       [0.19528637, 0.80471363],
       [0.7647797 , 0.2352203 ],
       [0.85808914, 0.14191086],
       [0.36066601, 0.63933399],
       [0.28835376, 0.71164624],
       [0.6772539 , 0.3227461 ],
       [0.60504349, 0.39495651],
       [0.54917526, 0.45082474],
       [0.6810949 , 0.3189051 ],
       [0.8200875 , 0.1799125 ],
       [0.41288492, 0.58711508],
       [0.42331325, 0.57668675],
       [0.68356822, 0.31643178],
       [0.28267039, 0.71732961],
       [0.32956758, 0.67043242],
       [0.83126469, 0.16873531],
       [0.25666166, 0.74333834],
       [0.24617368, 0.75382632],
       [0.39427031, 0.60572969],
       [0.28036399, 0.71963601],
       [0.21501997, 0.78498003],
       [0.19980134, 0.80019866],
       [0.40576493, 0.59423507],
       [0.25210358, 0.74789642],
       [0.68742338, 0.31257662],
       [0.38224623, 0.61775377],
       [0.82893537, 0.17106463],
       [0.51476772, 0.48523228],
       [0.66868183, 0.33131817],
       [0.45114834, 0.54885166],
       [0.78744898, 0.21255102],
       [0.27958576, 0.72041424],
       [0.39468689, 0.60531311],
       [0.29071469, 0.70928531],
       [0.23698371, 0.76301629],
       [0.34291473, 0.65708527],
       [0.24031131, 0.75968869],
       [0.17409226, 0.82590774],
       [0.20203963, 0.79796037],
       [0.40329403, 0.59670597],
       [0.68383562, 0.31616438],
       [0.46479456, 0.53520544],
       [0.4262769 , 0.5737231 ],
       [0.67180276, 0.32819724],
       [0.25863587, 0.74136413],
       [0.24400292, 0.75599708],
       [0.48841712, 0.51158288],
       [0.23772063, 0.76227937],
       [0.51563381, 0.48436619],
       [0.18867674, 0.81132326],
       [0.66760463, 0.33239537],
       [0.30390889, 0.69609111],
       [0.3434164 , 0.6565836 ],
       [0.49934849, 0.50065151],
       [0.37653515, 0.62346485],
       [0.38901336, 0.61098664]])

In [37]:
jaccard_score(y_testset, yhat,pos_label=0)

0.6666666666666666

In [38]:
jaccard_score(y_testset, yhat,pos_label=1)

0.8222222222222222